altair==4.2.2
attrs==23.2.0
blinker==1.8.2
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.0.0
entrypoints==0.4
fst-pso==1.8.1
fuzzytm==2.0.9
gensim==4.3.0
gitdb==4.0.11
gitpython==3.1.43
idna==3.7
importlib-metadata==8.0.0
jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
markupsafe==2.1.5
mdurl==0.1.2
miniful==0.0.6
nltk==3.8.1
numpy==1.21.6
packaging==24.1
pandas==1.5.3
pillow==10.3.0
protobuf==3.20.3
pyarrow==16.1.0
pydeck==0.9.1
pyfume==0.3.1
pygments==2.18.0
pympler==1.0.1
python-dateutil==2.9.0.post0
pytz==2024.1
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
scikit-learn==1.2.2
scipy==1.14.0
simpful==2.12.0
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
streamlit==1.22.0
tenacity==8.4.2
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
tornado==6.4.1
tqdm==4.66.4
typing-extensions==4.12.2
tzlocal==5.2
urllib3==2.2.2
validators==0.28.3
watchdog==4.0.1
wrapt==1.16.0
zipp==3.19.2
